{% block captcha_widget %}
{% spaceless %}
    <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    <div>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}
