{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-carousel">
        <div>
{#            <div class="slider-text">#}
                <h1>Remember your dates<br>Remember your life</h1>
{#            </div>#}
            {% if app.user.gender == 1 %}
                <img src="{{ asset('bundles/app/images/home/slider_02.jpg') }}" alt="Image_02">
            {% else %}
                <img src="{{ asset('bundles/app/images/home/slider_03.jpg') }}" alt="Image_03">
            {% endif %}
        </div>
        <div>
            {% if app.user.gender == 1 %}
                <img src="{{ asset('bundles/app/images/home/slider_01.jpg') }}" alt="Image_01">
            {% else %}
                <img src="{{ asset('bundles/app/images/home/slider_04.jpg') }}" alt="Image_04">
            {% endif %}
        </div>  
    </div>
    <div class="container-fluid" id="features"> 
        <div class="container">
            <div class="row">
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-people"></i>
                    <h2>Contact management</h2>
                    <p>Remember your contacts<br>Save basic information for future reference<br>Keep track of essentials<br>Rate your contacts</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-heart"></i>
                    <h2>Date tracking</h2>
                    <p>Whatever the nature of the relationship<br>Remember the whole story<br>Avoid previous mistakes</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-albums-outline"></i>
                    <h2>Photos Gallery</h2>
                    <p>Upload up to 5 photos<br>for everyone of your contacts<br>Crop them as you see fit<br>See them all in one page</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            
            $(".home-carousel").slick({
                dots: true,
                speed: 500,
                fade: true,
                cssEase: 'linear'
            });
        });
    </script>
{% endblock %}
