{% extends "::base.html.twig" %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <div class="container error-404">
        <i class="fa fa-question-circle-o"></i>
        <h1>Error 404</h1>
        <h2>Sorry, the page you have requested cannot be found.</h2>        
    </div>
{% endblock %}