{% extends "::base.html.twig" %}

{% block title %}Error 403{% endblock %}

{% block content %}
    <div class="container error-403">
        <i class="fa fa-lock"></i>
        <h1>Sorry, you're not authorized to access this page...</h1>
        <p>Or, return to <a class="btn-basic" href="{{ path("home_index") }}">Homepage</a></p>
    </div>
{% endblock %}
