{% extends '::base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}   
    <div class="container">
        <section class="page-title">
            <h1>Contacts</h1> 
{#            <h2>Add up to 5 photos, replace or delete them, then validate your changes at the bottom of the page</h2>#}
        </section>
        <div class="page-title-underline"></div>
        
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        
        <a class="btn-basic" href="{{ path('fos_user_profile_edit') }}" title="Edit profile">Edit profile</a>
    </div>
{% endblock %}
