{% extends '::base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}   
    <div class="container">        
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        
        <a class="btn-basic" href="{{ path('fos_user_profile_edit') }}" title="{{ 'app.profile.edit-btn'|trans }}">{{ 'app.profile.btn-edit'|trans }}</a>
    </div>
{% endblock %}
