{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p><span>{{ 'profile.show.username'|trans }}:</span> {{ user.username }}</p>
    <p><span>{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
</div>
