{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <section class="page-title">
            <h1>Account created</h1> 
            <h2>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h2>
        </section>
        <div class="page-title-underline"></div>       

        <a class="btn btn-submit"  href="{{ path('home_index') }}" title="Home">Home</a>
        
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock %}
