{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'AppBundle:Form:captcha.html.twig' %}

<div id="register-user">
    <h4>Create an account</h4>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>        
            <input class="btn-submit-register" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>