
{% trans_default_domain 'FOSUserBundle' %}

<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4>Create an account</h4>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>        
        <input class="btn-submit" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}