{% extends '::base_register.html.twig' %}

{% block title %}Register{% endblock %}

{% block fos_user_register %}
    <div class="container">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_register %}
