{% extends '::base.html.twig' %}
{% block title %}Nouvelle rencontre{% endblock %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block body -%}
    <h3>Rencontre creation</h3>

    {{ form(form) }}

    <a href="{{ path('rencontre') }}">Back to the list</a>

{% endblock %}
