{% extends '::base.html.twig' %}
{% block title %}Nouvelle relation {% endblock %}

{% block body -%}
    <h1>Nouvelle relation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('relations') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
