{% extends '::base.html.twig' %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body -%}
    <h1>Nouveau contact</h1>

    {{ form_start(form, {'attr': {'id':'form-new-prospect'}}) }}   
   
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('prospect') }}">
                Back to the list
            </a>
        </li>
    </ul>
        
    <script type="text/javascript"> 

        $(document).ready(function(){
            $('.row_arrondissement').hide();
            
            $('.form-input-ville').change(function(){
                var ville = $(this).val().toLowerCase();

                if(ville === 'paris'){
                    $('.row_arrondissement').show('slow');
                }else{
                    $('.row_arrondissement').hide('slow');
                }
            });           
        });
        
    </script>
{% endblock %}
