{% extends '::base.html.twig' %}
{% block title %}Modifier une relation{% endblock %}

{% block body -%}
    <h1>Modifier une relation</h1>
    <h3>{{ entity.prospect.prenom }}</h3>
    
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('relation') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
