/* 
    Created on : 16 déc. 2014, 17:15:18
    Author     : Norman
*/

/******************************* FONTS ***********************************/

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/******************************* MENU (HEADER) ************************************/
/* Contains many Bootstrap overrides */

#top-bar{
    height: 38px;
    background-color: #3d3d3d;
}

header{
    height: 90px;
    background-color: #303030;
}

.navbar-brand{
    text-shadow: none;
    vertical-align: middle;
    height: 90px;
    display: table-cell;
    float: none;
    color: #e0e0e0;
}
.navbar{
    font-family: 'open_sansregular', sans-serif;
    height: 90px;
    border-radius: 0;   
}
.navbar-default{
    border: none;    
    box-shadow: none;
    background-image: none;
    background-color: #303030;
}
.navbar-default .navbar-nav > li > a{
    color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #f0f0f0;
}
.navbar-nav > li > a{    
    height: 90px;    
    text-shadow: none;
    display: table-cell;
    vertical-align: middle;    
}

/******************************* BODY ************************************/

body{
    font-family: sans-serif;    
    /*padding-top: 50px;*/
}

.container{
    padding-bottom: 150px;
}

/************************ BOOTSTRAP OVERRIDES ****************************/

/* FORMS */
.form-control{
    border-radius: 0px;
}

/* BOUTONS */
.btn{
    border-radius: 0px;
}

/************************* DATATABLES ************************************/

table.dataTable thead th{
    padding: 10px 10px;
}

/******************************* PAGES GLOBAL ***********************************/
.page-header{
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 45px;
    padding-bottom: 20px;
}

td.actions a{
    margin-right: 5px;
    font-size: 1.2em;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: none;  /* masqué de base */
}
.loader_standard{
    width: 360px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -180px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    z-index: 11;
    padding: 60px 10px 25px 10px;
    border: 1px solid #ddd;
    
    display: none;  /* masqué de base */
}

/******************************* PROSPECTS - INDEX ***********************************/

td.photo_principale img{
    height: 75px;
}

/******************************* PROSPECTS - NEW ***********************************/

#modal_form_new{
    display: none;
}
.row_arrondissement{
    display: none;
}


/******************************* PROSPECTS - SHOW ***********************************/

.prospect_photo{
    height: 150px;
}

/******************************* PROSPECTS - EDIT ***********************************/
.original-img{
    height: 150px;
}

/******************************* FORMS ***********************************/
.form_row{
    margin-bottom: 5px;
}
.form_row label{
    width: 170px;
}
.form_row input{
    width: 250px;
}

/************************* FORM NEW PROSPECT *****************************/

#appbundle_prospect_file{
    display: inline-block;
}

ul.record_actions{
    list-style-type: none;
    padding: 0;
}

#appbundle_prospect_dateCreation{
   display: inline-block;
}
#appbundle_prospect_dateCreation_date, #appbundle_prospect_dateCreation_time{
   display: inline-block;
}

/************************* FORM NEW RELATION *****************************/

#appbundle_relation_statut{
    display: inline-block;
}
#appbundle_relation_rencontre{
    display: inline-block;
}

#appbundle_relation_statut label{
    width: 75px;
}
#appbundle_relation_rencontre label{
    width: 75px;
}

.appbundle_relation_commentaire{
    vertical-align: top;
}

/************************* FORM SHOW *****************************/

table.record_properties th{
    width: 150px;
}

/************************* FORM LOGIN *****************************/

form[name="fos_user_security_login"]{
    width: 200px;
    padding: 15px;
    margin: 0px auto;
    border: 1px solid rgb(204, 204, 204);
}

/************************* GALLERY *****************************/
.photo-block{
    display: inline-block;
    text-align: center;
}
.photo-frame{
    width: 250px;
    height: 250px;
    border: 1px solid #ddd;
    display: inline-block;
}
.photo-frame img{
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
    display: block
}