/* 
    Created on : 16 déc. 2014, 17:15:18
    Author     : Norman
*/

body{
    padding-top: 50px;
}

/************************ BOOTSTRAP OVERRIDES ****************************/

/* FORMS */
.form-control{
    border-radius: 0px;
}

/* BOUTONS */
.btn{
    border-radius: 0px;
}

/************************* DATATABLES ************************************/

table.dataTable thead th{
    padding: 10px 10px;
}

/******************************* PAGES GLOBAL ***********************************/
.page-header{
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 45px;
    padding-bottom: 20px;
}

td.actions a{
    margin-right: 5px;
    font-size: 1.2em;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: none;  // masqué de base
}
.loader_standard{
    width: 360px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -180px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    z-index: 11;
    padding: 60px 10px 25px 10px;
    border: 1px solid #ddd;
    
    display: none;  // masqué de base
}

/******************************* PROSPECTS - INDEX ***********************************/

td.photo_principale img{
    height: 75px;
}

/******************************* PROSPECTS - NEW ***********************************/

#modal_form_new{
    display: none;
}
.row_arrondissement{
    display: none;
}


/******************************* PROSPECTS - SHOW ***********************************/

.prospect_photo{
    height: 150px;
}

/******************************* FORMS ***********************************/
.form_row{
    margin-bottom: 5px;
}
.form_row label{
    width: 170px;
}
.form_row input{
    width: 250px;
}

/************************* FORM NEW PROSPECT *****************************/

#appbundle_prospect_file{
    display: inline-block;
}

ul.record_actions{
    list-style-type: none;
    padding: 0;
}

#appbundle_prospect_dateCreation{
   display: inline-block;
}
#appbundle_prospect_dateCreation_date, #appbundle_prospect_dateCreation_time{
   display: inline-block;
}

/************************* FORM NEW RELATION *****************************/

#appbundle_relation_statut{
    display: inline-block;
}
#appbundle_relation_rencontre{
    display: inline-block;
}

#appbundle_relation_statut label{
    width: 75px;
}
#appbundle_relation_rencontre label{
    width: 75px;
}

.appbundle_relation_commentaire{
    vertical-align: top;
}

/************************* FORM SHOW *****************************/

table.record_properties th{
    width: 150px;
}