{% extends '::base.html.twig' %}
{% block title %}{{ 'app.nav.album'|trans }}{% endblock %}


{% block content %}
    <section class="page-title">
        <h1>Album</h1> 
        <h2>{{ 'app.photo.album.subtitle'|trans }}</h2>
    </section>
    <div class="page-title-underline"></div>
    
    <div class="container" id="container-album">
        <div class="row row-album">
        {% for photo in photos %}
            <div class="col-md-2">
                <img class="img-responsive" src="{{ photo.path | imagine_filter('thumb_prospect_index') }}" />     
            </div>
            
            {% if loop.index % 6 == 0 %} {# Close the div row every 3rd item and open a new one #}
                </div>
                <div class="row row-album">
            {% endif %}
        {% endfor %}
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
{% endblock %}
