{% extends '::base.html.twig' %}
{% block title %}{{ 'app.nav.album'|trans }}{% endblock %}


{% block content %}   
    
    <div class="container standard-container" id="container-album">
        <div class="row row-album">
        {% for photo in photos %}
            <div class="col-md-2">
                <img class="img-responsive" src="{{ photo.path | imagine_filter('thumb_prospect_175') }}" />     
            </div>
            
            {% if loop.index % 6 == 0 %}
                </div>
                <div class="row row-album">
            {% endif %}
        {% endfor %}
    </div>

    
    <script type="text/javascript">       
        $(document).ready(function(){
            
        });
    </script>
{% endblock %}


