{% extends '::base.html.twig' %}
{#{% extends '::ajax_crop.html.twig' %}#}

{% block title %}Crop photo{% endblock %}

{% block content %}  
    <div class="container">
        <section class="page-title">
            <h1>Crop image</h1> 
            <h2>Select an area, then validate your selection</h2>
        </section>
        <div class="page-title-underline"></div>
        
        <a class="btn-basic" href="{{ path('gallery', {'prospect_id': photo.prospect.id}) }}" title="back to gallery">Back to gallery</a>
        
        <form id="upload_form" enctype="multipart/form-data" method="post" action="{{ path('photo_crop', {'id': photo.id}) }}" onsubmit="return checkForm();">
            <!-- hidden crop params -->
            <input type="hidden" id="x" name="x" />
            <input type="hidden" id="y" name="y" />

            <div>
                <img class="img-responsive" id="crop-preview" src="{{ asset(photo.path) }}" alt="Photo">                
            </div>
            <div id="crop-info"> 
                <p>Filesize: {{ (photo.size/1000) |round }} Kb</p>
                
                <label>W</label>
                <input type="text" id="w" name="w" />

                <label>H</label>
                <input type="text" id="h" name="h" />
            </div>

            <input class="btn-basic-rose" type="submit" value="Crop image" />
        </form>       
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){            
            
            $('#crop-preview').Jcrop({
                aspectRatio: 1,
                minSize: [128, 128], // min crop size            
                bgFade: true, // use fade effect
                bgOpacity: .3, // fade opacity
                onChange: updateInfo,
                onSelect: updateInfo,
                onRelease: clearInfo
            });
        });
            
        function checkCoords()
        {
            if (parseInt($('#w').val())) return true;
            alert('Please select a crop region then press submit.');
            return false;
        }

        // update info by cropping (onChange and onSelect events handler)
        function updateInfo(e) {
            $('#x').val(e.x);
            $('#y').val(e.y);
            $('#w').val(e.w);
            $('#h').val(e.h);
        }

        // clear info by cropping (onRelease event handler)
        function clearInfo() {
            $('.info #w').val('');
            $('.info #h').val('');
        }

        // check for selected crop region
        function checkForm() {
            if (parseInt($('#w').val())) return true;
            $('.error').html('Please select a crop region and then press Upload').show();
            return false;
        }           
                   
    </script>    
{% endblock %}

